[Unit]
Author=Roshan Lamichhane
Description=Systemd service file for vc-mover

[Install]
WantedBy=default.target

[Service]
ExecStart=/bin/bash -c ~/go/bin/vc-mover